<div class="bg-dark border-right p-3" id="sidebar">

  <h3 class="text-light">GifsApp</h3>
  <hr>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action" *ngFor="let item of tagsHistory"
      (click)="datosBtn(item)">
        {{item | titlecase}}
      </button>
    </div>

</div>
