
<div class="row">
  <div *ngFor="let gif of gifListInput" class="col-md-3 col-sm-6">
    <!--En pantallas medianas las columnas se dividen en 3 columnas (entrando 4 contenidos de 3 columnas de ancho cada uno), en muy pequeñas se dividen en 6 columnas (entrando 2 contenidos de 6 columnas)-->

    <div class="card mb-2 text-center bg-dark">
      <!--TODO crar imagen-->
      <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="card-img-top">


      <div class="card-body text-white">
        <p class="card-text">{{gif.title}}</p>
      </div>
    </div>
  </div>

</div>
