<div class="d-flex">
  <!--Sidebar-->

  <shared-sidebar></shared-sidebar>


  <!--Home Page-->

  <gif-home-page class="flex-fill"></gif-home-page>
  <!--flex-fill deja que el componente tome todo el ancho diponible que tiene-->

</div>
